/CapstoneAD/CapstoneAD/nbproject/private/
/CapstoneAD/Zacks ch 9/nbproject/private/
/CapstoneAD/Zacks ch 9/build/
/CapstoneAD/calculator/nbproject/private/
/CapstoneAD/Ch 9 oyo Andrew Dobson/nbproject/private/
/CapstoneAD/Andrew Dobson Sorting CH 19/nbproject/private/
/CapstoneAD/Andrew Dobson Sorting CH 19/build/
/CapstoneAD/Andrew Dobson CH 19 Searching/nbproject/private/
/CapstoneAD/Andrew Dobson CH 19 Searching/build/
/CapstoneAD/CapstoneAD/build/
/CapstoneAD/CapstoneAD/dist/